/*for new design fixes*/
h5 a {
	color: #414141;
}
h5 div {
	float:right !important;
}

#google_translate_element select {
	width:100% !important;
}
.main-tags span ,.all-tags span {
	padding-right: 2px;
line-height: 25px;
}
.artist {
float:left;	
}
.artist .title {
	position: relative;
	font-size:12px;
float:none;
margin:0;
padding:0;
text-align:center;
top:-18px;
}
.subpage-body .container_12 {
	width:1024px;
}
.subpage-body  .container_12 .grid_8 {
	width:760px;
}
.padtop {
	padding-top:0px;
}
.addthis {
	padding-left:0px;
}
.label-comment {
	padding-top:10px;
}

.login-title  {
	padding: 7px 0px;
}
.login-button {
	padding-top:10px;
}
.enter {
	text-align:center;
}
.comment-block {
	padding-top:44px;
}
.links {
	float: right;
}
.main-menu {
	max-width:735px;
}
.fleft {
	float:none;
}
.article-add-comment {
	width: 617px !important;
	height:80px;
}
.comment-block .link {
	float:right;
}
.admin-home {
	/*	height:652px;*/
padding-left:0px;
}
.pro_layouts-menu span {
font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
}
.pro_table2 {
	width:80px;
}
.pro_table2 a {
	width:78px !important;
}
.pro_tabs, .pro_tab-content, .admin-home .container_12 .grid_12   {
	width: 606px !important;
}
.admin-home-add-article form {
	width:558px !important;
}
.admin-home .container_12 .grid_12 {
	margin: 0px;
}
.admin-home .container_12 .grid_12 h6 {
	padding-left:10px;
}
.top_news_block {
padding-bottom:75px;
}
.article  img {float:none;}
.grid_3 h5 {height:16px; overflow: hidden;}
.grid_3 .padbot { height:72px;}
/*
sashas adiings
*/
div.success {margin:5px;border:1px solid #4D9C32;background:#bae4ab}
.clicks a:hover{
 background-color: #F29900;
 color: #000000;
 text-decoration:none;

}
.clicks  a {
 float:left;
 padding: 5px 17px;
 text-decoration:none;
}
.rateTabs {

 height: 24px;
 border-bottom: 1px solid #F29900;
 vertical-align: bottom;
 list-style-type: none;
 margin: 0;
 padding: 0px 0px 0px 13px;
}
.rateTabOn {
 height: 23px;
 float: left;
 margin: 0px 3px;
 text-align: center;
 border: 1px solid #F29900;
 border-bottom: 0px;
background: url(/public/images/bg.jpg) no-repeat top;

}

.rateTabOn a {
 float:left;
 padding: 5px 10px;
 text-decoration:none;
}

.rateTabOff {
 height: 23px;
 float:left;
 margin: 0px 3px;
 text-align: center;
 border: 1px solid #F29900;
 border-bottom: 0px;

}

.rateTabOff a {
 float: left;
 padding: 5px 10px 3px 10px;
 border-bottom: 0px #EEF0F3 solid;
 text-decoration: none;
}

.rateTabOff a:hover, .rateTabOn a:hover {
 background-color: #F29900;
 color: #fff;
 text-decoration:none;
}
/*pagination*/
 .pagination_bottom {padding-top: 15px; font-family: Arial, Helvetica, sans-serif; border-top: 1px solid #CCCCCC; padding-left:65px;}
/*
.pagination_bottom a {font-weight: bold; padding: 2px 5px 2px 5px; border: 1px solid #bbb; text-decoration: none; color: #414141;}
.pagination_bottom a:hover, .pagination a:active {border: 1px solid #2E4B73; background-color: #ECF8FE; color: #000}
.pagination_bottom span.current {padding: 4px 7px 4px 7px; margin: 2px; border: 1px solid #15478C; font-weight: bold; background-color: #15478C; color: #FFF}
.pagination_bottom span.disabled {padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #ddd; color: #ddd} */