@import"reset.css";
@import"pro_pages_style.css";
@import"grid.css";
@import"forms.css";
@import"prettyPhoto.css";
/*@import"jquery.snippet.min.css";*/
/*@import"../skin/blue.monday/jplayer.blue.monday.css";*/
/*@import"../css/smoothness/jquery-ui-1.8.17.custom.css";*/
@import url(http://fonts.googleapis.com/css?family=Lato:400);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
body{background:#424d53;font:12px/18px Arial, Helvetica, sans-serif;color:#6a6a6a;position:relative;min-width:960px;}
html,body{height:100%;}
p{padding-bottom:18px;}
a{color:#4dcdf0;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#414141;font-family: 'Lato', sans-serif; font-weight:400;}
h1{font-size:28px;}
h2{font-size:26px;}
h3{font-size:24px;} 
h4{font-size:22px; font-weight:700; padding-bottom:20px;}  
h5{font-size:20px; padding-bottom:16px;}
h6{font-size:16px; text-transform:uppercase; font-weight:700; border-bottom:1px solid #dbdbdb; padding-bottom:8px; margin-bottom:26px;}
/* Global Structure---------------------------------------- */
.main{ position:relative; width:940px; margin:0 auto;}
.line{wwidth:100%; height:1px; background:#dbdbdb; margin:30px 0 0 0;}
/*----- txt,links,lines,titles -----*/
.wrapper{ position:relative; overflow:hidden;}
.clear{clear:both;line-height:0;font-size:0;overflow:hidden;height:0;width:100%;}
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#4dcdf0;}
.color2{color:#6a6a6a;}
/*********************************header*************************************/
header{ width:100%; background:url(../images/header-line.jpg) 0 0 repeat-x; padding-top:6px; position:relative; z-index:99;}
.bg-header{ width:100%; background:#f4f4f4 url(../images/bg-header.jpg) 50% 0 no-repeat;}
header h1{ padding:30px 0 0 6px; float:left;}
header h1 a{ display:block; background:url(../images/logo.png) 0 0 no-repeat; width:142px; height:36px; text-indent:-5000px;}
.slogan{ width:940px; margin:0 auto; position:relative; overflow:hidden; padding:37px 0; border-bottom:1px solid #dbdbdb;}
	.title{font:700 46px/56px 'Dancing Script', cursive; color:#6a6a6a; float:left; padding:0 0 0 52px;}
	.links{ overflow:hidden; text-align:center; padding:15px 30px 0 0;}
	.slogan .link2{ margin-top:6px;}
.subpages .bg-header{ padding-bottom:16px;}
/* menu */
.main-menu{ float:right; padding:38px 0 0 0; max-width:600px;}
.sf-menu, .sf-menu * {margin:0;padding:0;list-style:none; }
.sf-menu{float:right}
.sf-menu li {float:left; position:relative; font:14px/17px Arial, Helvetica, sans-serif; background: url(../images/bg-png.png) 0 0 repeat; margin:0 0 0 18px; border-radius:3px;}
	.sf-menu li a {display:inline-block; color:#748a94; padding:10px 15px;}
			.sf-menu li.current,.sf-menu li:hover{ background:#fff;}
			.sf-menu li.sfHover{background:#fff; border-radius:3px 3px 0 0;}
				.sf-menu li a:hover{ text-decoration:none;}		
.sf-menu ul {position:absolute;top:-999em;z-index:99;width:111px;display:none;background:#fff; padding:11px; border-radius:3px;}
.sf-menu li li{padding:10px 0; margin:0; width:100%;font:13px/16px Arial, Helvetica, sans-serif; border-radius:0; background:none; border-top:1px solid #e8eaec;}
.sf-menu li li:first-child{ border-top:none;}
	.sf-menu li li a,.sf-menu li.sfHover li a,.sf-menu li.current li a{color:#748a94; padding:0;}
		.sf-menu li li a:hover,.sf-menu li li.sfHover a,.sf-menu li li.current a{color:#4dcdf0;}	
.sf-menu ul ul {position:absolute;top:-999em;z-index:99;width:111px;display:none;background:#fff; padding:11px; border-radius:3px;}
	.sf-menu li li li{padding:10px 0; margin:0; width:100%;font:13px/16px Arial, Helvetica, sans-serif; border-radius:0; background:none; border-top:1px solid #e8eaec;}
	.sf-menu li li li a,.sf-menu li li.sfHover li a,.sf-menu li li.current li a{color:#748a94 !important;}
		.sf-menu li li li a:hover,.sf-menu li li li.current a{color:#4dcdf0 !important;}		
.sf-menu li:hover ul,.sf-menu li.sfHover ul {left:0px;top:35px; /* match top ul list item height */}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999em;}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:123px; /* match ul width */top:-11px;}
ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul {top:-999em;}
ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul {left:10em; /* match ul width */	top:00px;}
/*	Gallery */	
#gallery{ width:940px; height:493px; position:relative; overflow:hidden; margin:0 auto; padding:15px 0 0 0;}
.gallery{ width:940px; height:438px; position:relative; overflow:hidden;}
.pag {width:100%;padding:0 0 19px 4px;margin:-31px 0 0;position:relative; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,.05);}
.img-pags {position:static;z-index:1;display:block; margin:0 auto; padding-bottom:5px;}
.img-pags li { margin:0 9px 0 0;height:59px; width:122px; box-shadow:0 1px 2px rgba(0,0,0,.1);}
.img-pags li a {position:relative;display:block;
-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.img-pags li a img{ opacity:.5;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.img-pags li a span{ display:block; background:#1e2730;}
.img-pags li.active a img,
.img-pags li a:hover img{ opacity:1;}
.banner{ position:absolute; top:147px; left:570px; color:#fff; width:325px; height:150px;}
.b-title{ font:400 30px/36px 'Lato', sans-serif; color:#fff; padding-bottom:27px;}
.b-button a{ display:inline-block; text-transform: uppercase; font:700 15px/18px 'Lato', sans-serif; color:#fff; text-shadow:0 1px rgba(45,187,235,.8); border:1px solid #4aa2e4; box-shadow:0 2px 2px rgba(0,0,0,.2), inset 0 1px rgba(255,255,255,.3); padding:7px 20px 8px; border-radius:2px;
background: #67daf4; /* Old browsers */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3ZGFmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YWNjZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #67daf4 0%, #4accf0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67daf4), color-stop(100%,#4accf0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #67daf4 0%,#4accf0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #67daf4 0%,#4accf0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #67daf4 0%,#4accf0 100%); /* IE10+ */
-pie-background: linear-gradient(top, #67daf4 0%,#4accf0 100%); /* IE8 */
background: linear-gradient(top, #67daf4 0%,#4accf0 100%); /* W3C */}
	.b-button a:hover{ text-decoration:none;border:1px solid #737b81; text-shadow:0 1px rgba(33,38,42,.8);
	background: #6a7d86; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZhN2Q4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YzVhNjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #6a7d86 0%, #4c5a60 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7d86), color-stop(100%,#4c5a60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* IE10+ */
	-pie-background: linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* IE8 */
	background: linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* W3C */}
/********************** Content ************************/
section{ position:relative; z-index:1; background:#f4f4f4; width:100%; padding:44px 0 50px; margin-top:0px;}
.box1{ position:relative; overflow:hidden; background:#fff; padding:13px 17px 5px; box-shadow:0 1px 1px rgba(0,0,0,.05); margin:0 20px 10px 0;}
.subpage-body .box1  {padding-right:5px; padding-left:5px;  margin-right:0px}
	.box1 img{ float:left; margin:2px 19px 0 0;}
	.resume-gal   img{ float:left; margin:2px 0px 0 0;}
	.box1 h5{ padding-bottom:4px;}
	.box1 .fright{ padding-top:56px;}
.list1 li{ padding:1px 0 7px;}
.list2 li{ background:url(../images/marker.png) 0 2px no-repeat; padding:1px 0 15px 20px;}
	.list2 li a{color:#6a6a6a;}
.list3{ padding:5px 0 0 0;}
.list3 li{ background:#fff url(../images/marker2.png) 15px 17px no-repeat; padding:13px 20px 13px 48px; margin:0 0 4px 0; box-shadow:0 1px 1px rgba(0,0,0,.1);}
	.list3 li a{color:#6a6a6a;}
.box2{ position:relative; overflow:hidden; padding:1px 0 12px 0;}
.year{ font:700 14px/17px 'Lato', sans-serif; color:#414141; float:left; margin:0 5px 0 0;}
.car-wrapper{ position:relative;}
.carousel {height:350px; width:940px !important; overflow:hidden;}
	.carousel  li{ margin-right:20px; display:block; float:left; width:220px; height:350px; position:relative; overflow:hidden;}
	.carousel li h5{ padding:15px 0 5px 0;}
.car-button{ position:absolute; top:110px; width:42px; height:46px;}
	.prev{ left:-57px; background:url(../images/btn-prev.png) 0 0 no-repeat;}
	.next{ right:-57px; background:url(../images/btn-next.png) 0 0 no-repeat;}
	.car-button:hover{ background-position:0 -46px;}
.product-box{ background:#fff; padding:10px; margin:0 0 20px 0; box-shadow:0 1px 1px rgba(0,0,0,.05);}
	.product-box h6{ border-bottom:none; margin-bottom:0; padding:19px 0 3px 10px;}
	.product-box h6 a{color:#414141;}
	.product-box p{ padding:0 0 9px 9px;}
.map{ padding:2px 0 0 0;box-shadow:0 1px 1px rgba(0,0,0,.05);}
	.map iframe{ width:380px; height:256px;}
.contacts{ font-style:normal; padding:16px 0 0 0;}
	.contacts span{ display:inline-block; width:80px;}
	.contacts a{color:#6a6a6a;}
/* buttons */
.button{ display:inline-block; text-transform: uppercase; font:700 12px/15px 'Lato', sans-serif; color:#fff; box-shadow:0 1px 1px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.3); padding:6px 12px 5px; border-radius:2px;border:1px solid #737b81; text-shadow:0 1px rgba(33,38,42,.8);
	background: #6a7d86; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZhN2Q4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YzVhNjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #6a7d86 0%, #4c5a60 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7d86), color-stop(100%,#4c5a60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* IE10+ */
	-pie-background: linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* IE8 */
	background: linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* W3C */}
	.button:hover{ text-decoration:none; text-shadow:0 1px rgba(45,187,235,.8); border:1px solid #4aa2e4;
background: #67daf4; /* Old browsers */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3ZGFmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YWNjZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #67daf4 0%, #4accf0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67daf4), color-stop(100%,#4accf0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #67daf4 0%,#4accf0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #67daf4 0%,#4accf0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #67daf4 0%,#4accf0 100%); /* IE10+ */
-pie-background: linear-gradient(top, #67daf4 0%,#4accf0 100%); /* IE8 */
background: linear-gradient(top, #67daf4 0%,#4accf0 100%); /* W3C */}
.button2{ display:inline-block; text-transform: uppercase; font:700 15px/18px 'Lato', sans-serif; color:#fff; text-shadow:0 1px rgba(45,187,235,.8); border:1px solid #4aa2e4; box-shadow:0 1px 1px rgba(0,0,0,.1), inset 0 1px rgba(255,255,255,.3); padding:7px 18px 8px; border-radius:2px;
background: #67daf4; /* Old browsers */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3ZGFmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YWNjZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #67daf4 0%, #4accf0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67daf4), color-stop(100%,#4accf0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #67daf4 0%,#4accf0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #67daf4 0%,#4accf0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #67daf4 0%,#4accf0 100%); /* IE10+ */
-pie-background: linear-gradient(top, #67daf4 0%,#4accf0 100%); /* IE8 */
background: linear-gradient(top, #67daf4 0%,#4accf0 100%); /* W3C */}
	.button2:hover{ text-decoration:none;border:1px solid #737b81; text-shadow:0 1px rgba(33,38,42,.8);
	background: #6a7d86; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZhN2Q4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YzVhNjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #6a7d86 0%, #4c5a60 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7d86), color-stop(100%,#4c5a60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* IE10+ */
	-pie-background: linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* IE8 */
	background: linear-gradient(top, #6a7d86 0%,#4c5a60 100%); /* W3C */}

.link{ display:inline-block; border-left:1px solid #dedede; padding:0 8px 0 12px;}
.link2{ display:inline-block; color:#7fa7ba; text-decoration:underline;}
	.link2:hover{ text-decoration:none;}
/* Contact Form */
#contact-form{ padding:2px 0 12px 0;}
	#contact-form label{ min-height:40px; position:relative; display:block;}
	#contact-form input, #contact-form  textarea{box-shadow:0 1px 1px rgba(0,0,0,.05);font-family:Arial, Helvetica, sans-serif;color:#6a6a6a;font-size:12px;vertical-align:middle;font-weight:normal;padding:7px 9px 8px;margin:0;background:#fff;border:none;outline:none;overflow:hidden; width:282px;}
	#contact-form  textarea{ resize:none; overflow:auto; height:255px;width:442px;}
#contact-form .buttons{ position:relative; padding:16px 65px  0 0; text-align:right;}
	#contact-form .buttons span{ display:inline-block; margin-right:15px;}
#contact-form .success,
#contact-form .error,
#contact-form .empty{display:none; text-align:left;}
#contact-form .error,
#contact-form .empty{position:relative; color:red; font-size:10px; top:0px; left:10px;}
#contact-form .success,
#contact-form .success strong{ color:#000; background:none; box-shadow:none;}
#contact-form .success{ padding-bottom:5px;-pie-background:none;}
/******************** Footer ******************/
footer{ padding:43px 0 68px; color:#b3c0c7;}
footer h4, footer a{ color:#fff;}
.lh24{ line-height:24px;}
.lh20{ line-height:20px;}
.list-footer li{ padding:3px 0 4px;}
#news{ padding:8px 0 0 0;}
	#news input{font-family:Arial, Helvetica, sans-serif;color:#fff;font-size:12px;vertical-align:middle;font-weight:normal;padding:6px;margin:0;background: url(../images/bg-input.png) 0 0 repeat;outline:none;overflow:hidden; width:146px; border-radius:3px; border:none;}
	#news textarea{ resize:none; overflow:auto; height:170px;}
	#news a{ display:block; background:url(../images/news-form.png) 0 0 no-repeat; width:10px; height:16px; float:left; margin:5px 0 0 13px;}
/* padding */
.padtop{ padding-top:75px;}
.padtop22{ padding-top:66px;}
.padtop2{ padding-top:27px;}
.padtop3{ padding-top:46px;}
.padtop4{ padding-top:55px;}
.padtop5{ padding-top:60px;}
.padbot{ padding-bottom:20px;}
.padbot22{ padding-bottom:19px;}
.padbot4{ padding-bottom:23px;}
.padbot5{ padding-bottom:11px;}

.padbot2{ margin-bottom:23px;}
.imgindent{ float:left; margin:5px 11px 0 0;}
.imgindent2{ margin:4px 10px 0 0;}
.imgindent3{ margin:4px 0 0 0;}
.imgindent4{ float:left; margin:5px 20px 0 0;}
.imgindent5{ margin:2px 0 16px 0;}
.imgindent6{ margin:5px 20px 0 0;}

.pad{ padding:4px 0 13px 30px;}
.pad .fleft:first-child{ padding-right:57px;}