@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700italic,700,800italic,800&subset=latin,cyrillic,cyrillic-ext,latin-ext);
/* Base Styles */
body {
    color: #1d1d1d;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    transition: background 0.4s ease 0s;
    width: 100%;
}
a { color: #1d1d1d; font-weight: normal;  transition: all 0.4s ease 0s; }
a, button, .btn {outline: medium none !important;}
a:hover { color: #1d1d1d; text-decoration:none; }

.main-container {max-width:1200px; margin:auto;  width: 100%;}
.light-theme { 
    background-color: #f0f0f0;
    background-image: url("../images/background_light.jpg");
}
h1, h2 {font-size: 1.43em; line-height: 1.65; }
.btn {
    border-radius: 0;    
    font-size: 14px;
    font-weight: normal;
    line-height: 1.21;
    padding: 8px 20px;
    transition: all 0.4s ease 0s;
}
header { 
 
    margin-top: 8px;
}

.isolated-block {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.067);
}

.btn-outline-inverse {
    background-color: transparent;
    border: 1px solid #858585;
    color: #1d1d1d;
}

/* Header*/
.logo { padding: 20px 0; float: none; margin: 0 auto; max-height: 100%;max-width: 100%;  text-align: center;}
header .logo img { height: auto; width: auto;}
#main-menu-container {border-top: 1px solid #ebebeb;padding: 0;}
#main-menu { display: block; margin: 0 15px; min-width: 1px;position: relative;right: auto;text-align: center;top: auto; width: auto;z-index: 10;  list-style: none outside none;}
header #main-menu-container #main-menu:after {
    background: none repeat scroll 0 0 #ebebeb;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    line-height: 1px;
    opacity: 1;
    position: absolute;
    transition: all 0.7s ease 0s;
    width: 100%;
}
header #main-menu-container #main-menu li.menu-item a {text-align:center; display: block; line-height: 1.1;  padding: 10px 25px;}
header #main-menu-container #main-menu li.menu-item { position: relative;}
header #main-menu-container #main-menu > li.menu-item {  display: inline-block; margin: 0 4px; padding: 0;}
header #main-menu-container #main-menu > li.menu-item > a, header #main-menu-container #main-menu > li.menu-item:last-of-type > a { padding: 14px 10px;}
header #main-menu-container #main-menu > li.menu-item > a, header #main-menu-container #main-menu > li.menu-item:last-of-type > a {
    background: none repeat scroll 0 0 transparent;
    color: #313131;
    display: block;
    font-size: 1.1em;
    height: auto;
    line-height: 13px;}
header #main-menu-container #main-menu > li.menu-item > .sub-menu:before {content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 100%;}
header #main-menu-container #main-menu > li.menu-item > .sub-menu {  left: 50%; margin-left: -90px;top: 44px; z-index: 100;}
header #main-menu-container #main-menu li.menu-item .sub-menu {  
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ebebeb;
    border-top:0px;
    padding:0;
    display: none; 
    font-size: 0.93em;
    list-style: none outside none;    
    position: absolute; 
    width: 181px;}
 
header #main-menu-container #main-menu li.menu-item .sub-menu li.menu-item a {  border-bottom: 0 none; border-top: 0 none; color: #1d1d1d;}
#main-menu-container #main-menu li.menu-item  .sub-menu li.menu-item > a:hover,
header #main-menu-container #main-menu li.menu-item  .sub-menu li.menu-item.current-menu-item > a,
header #main-menu-container #main-menu li.menu-item  .sub-menu li.menu-item.active > a, 
header #main-menu-container #main-menu li.menu-item .sub-menu li.menu-item.current-menu-ancestor > a { 
    background: none repeat scroll 0 0 rgba(204, 204, 204, 0.4) !important;
     }
/*Mobile Menu*/
header #main-menu-container #mobile-menu-icon {
    display: block;
    float: right;
    height: 46px;
    line-height: 46px;
    padding: 0;
    width: 46px;
    text-decoration: none;
    margin: 0;
    font-weight: bold;
}

header #main-menu-container #mobile-menu-icon>* {
    font-size: 1.7em;
    line-height: 40px;
    height: 46px;
    text-align: center;
    display: block;
}

.btn {
    border-radius: 0;
}

.btn-outline-inverse {  background-color: transparent;
    border: 1px solid #858585;
    color: #1d1d1d;}

@media(max-width:768px) {
    header #main-menu-container {
    float: right;
    margin: 0;
    position: relative;
    border: 0;
    -webkit-transition: background .5s;
    transition: background .5s;
}
header #main-menu-container #mobile-menu-icon {
    display: block;
    float: right;
    height: 46px;
    line-height: 46px;
    padding: 0;
    width: 46px;
    text-decoration: none;
    margin: 0;
    font-weight: bold;
}

header #main-menu-container #mobile-menu-icon>* {
    font-size: 1.7em;
    line-height: 40px;
    height: 46px;
    text-align: center;
    display: block;
}
header #main-menu-container #mobile-menu-icon:hover, header #main-menu-container #mobile-menu-icon.active {
    background: #CCCCCC;
    color: #fff;
    border-color: #CCCCCC;
}

header #main-menu-container #main-menu {
    background: none repeat scroll 0 0 #303030;
    border: 1px solid #303030;
    display: none;
    list-style: none outside none;
    margin: 0;
    min-width: 200px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 45px;
    width: auto;
    z-index: 10;
}
header #main-menu-container #main-menu li.menu-item a {
    background: none repeat scroll 0 0 #303030;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(204, 204, 204, 0.05);
    color: #fff;
    display: block;
    line-height: 1.1;
    
    padding: 10px 25px;
    text-align: center;
}
header #main-menu-container #main-menu li.menu-item .sub-menu li.menu-item a, 
header #main-menu-container #main-menu > li.menu-item > a, header #main-menu-container #main-menu > li.menu-item:last-of-type > a {color: #fff;}
header #main-menu-container #main-menu li.menu-item .sub-menu {
    display: block;
    font-size: 0.93em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

header #main-menu-container #main-menu li.menu-item {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    float:none;
}
header #main-menu-container #main-menu li.menu-item .sub-menu {
    display: block;
    font-size: 0.93em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    margin-left:-99px;
    position: relative;
    width: 100%;
    top: 0;
    border:none;
}
header #main-menu-container #main-menu li.menu-item .sub-menu li.menu-item {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);}

header #main-menu-container #main-menu > li.menu-item > a:hover, 
#main-menu-container #main-menu > li.menu-item.current-menu-item > a,
header #main-menu-container #main-menu > li.menu-item.active > a, 
header #main-menu-container #main-menu > li.menu-item.current-menu-ancestor > a,
#main-menu-container #main-menu li.menu-item   li.menu-item  > a:hover,
#main-menu-container #main-menu li.menu-item  .sub-menu li.menu-item > a:hover,
header #main-menu-container #main-menu li.menu-item  .sub-menu li.menu-item.current-menu-item > a,
header #main-menu-container #main-menu li.menu-item  .sub-menu li.menu-item.active > a, 
header #main-menu-container #main-menu li.menu-item .sub-menu li.menu-item.current-menu-ancestor > a { 
    background: none repeat scroll 0 0 #fd1c36 !important;
    text-decoration:none;
    color: #FFFFFF !important;}
}

/*Mobile Menu*/
 /* Header REsponsive*/
 @media(max-width:768px) {
 header { 
    background: none repeat scroll 0 0 rgba(204, 204, 204, 0.9);
    left: 0;
    padding: 12px 20px;
    position: relative;
    top: 0;
    width: 100%;
 }
 header .logo {
    float: left;
    margin: 0 0.5% 0 0;
    max-height: 46px;
    max-width: 61%;
    padding: 0;
}
 }
 
 /*Slideshow*/
 .slideshow-content-container { padding-bottom: 8px; padding-top: 8px;}
  /*Slideshow*/

 /* Footer */
.footer {
    color: #1d1d1d;
    font-size: 0.79em;
    line-height: 1.5;
    padding-bottom: 25px;
    padding-top: 20px;
}

.footer .social-media-icons {
	list-style: none outside none;
 	padding: 0;
	display: inline-block;
    margin: 5px 0 0;
 text-align: right;
}
.social-media-icons > li {
	display: block;
    float: left;
	padidng: 0;
 	margin: 0 4px 0 0;
}
.footer .social-media-icons > li > * {
    font-size: 1.25em;
	border: 1px solid #9a9a9a;
 	color: #858585;
    display: block;
    height: 32px;
    line-height: 32px;
    width: 32px;
    padding: 0;
    text-align: center;
    transition: all 0.4s ease 0s;
}
.social-media-icons > li > *:hover {
    background: none repeat scroll 0 0 #CCCCCC;
    border-color: #CCCCCC;
    color: #fff;
}
 /* Footer */
/*Post Item*/
.post-item {padding-bottom:15px;  margin-top: 15px;}
.meta > .meta-item {
    display: block;
    float: left;
    margin: 0 22px 4px 0;
    position: relative;
}
.meta .meta-item {
	font-size:0.9em;
    color: #676767;
	float:left;
}
.post-header {margin-bottom:15px;}
.meta > .meta-item .glyphicon,   .meta > .meta-item .fa { color: #8f8f8f; margin-right: 5px;}
.meta-item.tags {
    display: block;
    list-style: none outside none;
    margin: 0 22px 4px 0;
    padding: 0;
    position: relative;
}
.meta-item.tags > li {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}
.meta-item.tags > li a:after {content: ",";}
.meta-item.tags > li:last-child a:after { content: "";}
.meta a { color: #676767; font-size: 0.9em;}
.post-footer {margin-top:15px;}
.meta .comments {float:right; font-size:1em;}
.meta .comments a { font-size:1em;}

.post-item  img.col-md-1, .post-item  img.col-md-2, .post-item  img.col-md-3, .post-item  img.col-md-4 ,.post-item  img.col-md-5,.post-item  img.col-md-6,
.post-item  img.col-md-7,.post-item  img.col-md-8,.post-item  img.col-md-9,.post-item  img.col-md-10
.post-item img.col-md-11,.post-item  img.col-md-12 {padding:0px; margin-right:15px;}
/*Post Item*/
/* Pagination */
.pagination-container {margin-top:15px; padding: 15px 0px;}
.pagination-container .pagination-list {
    display: block;
    font-size: 0.95em;
    line-height: 1;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
 
.pagination-container .pagination-list > li > * {
	background: none repeat scroll 0 0 transparent;
    border: 1px solid #898989;
    display: block;
    padding: 7px 9px;
	font-size: 0.9em;
    transition: all 0.4s ease 0s;
}
.pagination-container .pagination-list > li {
    display: inline-block;
    margin: 0;	
    padding: 0;
}
.pagination-container .pagination-list > li.disabled > *, .pagination-container .pagination-list > li.disabled > *:hover {
	background: none repeat scroll 0 0 transparent !important;
    border-color: #b0b0b0 !important;
    color: #b0b0b0 !important;
    cursor: default !important;
}
.pagination-container .pagination-list > li > *:hover, .pagination-container .pagination-list > li.active > * {
	background: none repeat scroll 0 0 #ccc;
    border-color: #ccc;
	color: #fff;
}
/* Pagination */
/* Single Post*/
.comment-box { border-top: 1px dotted #e3e3e3;}
.comment-box .glyphicon  {color: #7c7c7c; margin-right: 10px;}
.comment-box h2 { font-size: 1em;}
.comment-box .btn {margin-right:5px;}
.comment-box .comments-form {float:none; margin: 0 auto;}
.comments-list {margin-top:20px;}
.comments-list > .media .media-header { color: #727272;  font-size: 0.85em; line-height: 1.4;}
.comments-list h2 {font-size: 1.43em; line-height: 1.65;}
.comments-list > .media {   border-bottom: 1px dotted #e3e3e3; display: block;padding: 16px 0;}
.comments-list > .media:last-of-type {border-bottom: 0 none;}
